html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.bg {
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/187_1003705_americas_dxm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  z-index: 0;
}

.shango {
  display: inline-block;
  background-color: orange;
  position: relative;
  left: 20%;
  top: 20%;

}

.shango h1 {
  color: red;

}

.happy {
  position: relative;
  display: inline-block;
  background-color: purple;
  float: right;
  right: 20%;
  top: 20%;
}


.happy h1 {
  color: blue;
}
