html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.bg {
  background-image: url("./wildfire.jpg");
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: center;
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: blue;
}

.heading {
  margin: 0;
  padding-top: 25px;
}

.item {
  text-align: center;
}

.mission {

}

.team{

}

.resources{

}
