
.bg {
  height: 100%;
  background-color: hsl(360, 0%, 85%);
}

.team{
  background-color: hsl(55, 6%, 52%);

}

.mainContainer {

}

.main {
  width: 50%;
  margin: 0 auto;
  background-color: hsla(55, 6%, 52%, 0.8);
  padding-top: 25px;
  text-align: center;
}

.main h1 {
  margin: 0;
  padding-bottom: 10px;


}
